body{
margin: 0;
padding: 0;
width: 100vw;
height: 100vh;
background-color: black;
box-sizing: border-box;
}

.weatherbasic{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap:5px;


}
.weathergeneralcontrol{
margin-left: 10px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap:15px;

}
.weathergeneral{

display: flex;
flex-direction: column;
gap:10px;

}



#Imsak{
font-size: 28px;
color: white;
}

#Gunes{
font-size: 28px;
color: white;
}

#Ogle{
font-size: 28px;
color: white;
}


#Ikindi{
font-size: 28px;
color: white;
}

#Aksam{
font-size: 28px;
color: white;
}

#Yatsi{
font-size: 28px;
color: white;
}
#pray{
font-size: 30px;
color: white;

}
#Wind{
font-size: 22px;
margin: 0;
padding: 0;
color: white;
}

#Pressure{
margin: 0;
padding: 0;
font-size: 22px;
color: white;
}
#Temperature{

font-size: 24px;
color: white;
}


#currentTime{
font-size: 56px;
color: white;
margin:0;
padding: 30px;


}
.column1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-right: 5px;
box-sizing: border-box;
}
.column1ctrl{
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
 transition: all 0.4s ease; 
background-color: black;

}
.column2{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: black;
 transition: all 0.4s ease; 
}


.column3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;
gap:20px;
box-sizing: border-box;
 transition: all 0.4s ease; 
}


.column4{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;
margin: 10px;
box-sizing: border-box;
 transition: all 0.4s ease; 
}
.column4ctrl{
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
 transition: all 0.4s ease; 
background-color: black;

}

.column5{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color:black;
 transition: all 0.4s ease; 
}







.mainctrl{

  display: grid;
width: 100vw;
height: 100vh;
box-sizing: border-box;
  grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1.5fr) minmax(150px, 1fr) minmax(150px, 1fr) ;
  gap: 1px;
 background-color: rgb(104, 242, 255);
padding: 5px;
margin: 0;

}
#lastupdate{

font-size: 26px;
margin: 0;
color: black;
background-color: white;

}
#gram{

font-size: 26px; 
margin: 0; 
color: black;
background-color: white;


}
#ons{

font-size: 26px;  
margin: 0;
color: black;
background-color: white;

}
#ceyrek{

font-size: 26px;  
margin: 0;
color: black;;
background-color: white;

}
#yarim{

font-size: 26px;  
margin: 0;
color: black;
background-color: white;

}
#tam{

font-size: 26px;  
margin: 0;
color: black;
background-color: white;
}
#cumhuriyet{

font-size: 26px;  
margin: 0;
color: black;
background-color: white;

}
#usdtry{

font-size: 26px;
margin: 0;
color: black;
background-color: white;

}
#usdeur{

font-size: 26px;
margin: 0;
color: black;
background-color: white;


}
.altinpricetitle  {
font-size: 40px;
margin: 0;
color: black;
background-color: white;

}



#column4title{
margin-left: 10px;
color:white;
}




.doviz{
display: flex ;
flex-direction: column;
justify-content: center;
align-items: center;
gap:40px;
margin: 10px;
}

.column1ctrl:hover {
background-color:rgba(29, 31, 29, 0.8);



}

.column2:hover {
background-color:rgba(29, 31, 29, 0.8);



}
.column3:hover {
background-color:rgba(29, 31, 29, 0.8);



}

.column4ctrl:hover {
background-color:rgba(29, 31, 29, 0.8);



}
.column5:hover{
background-color:rgba(29, 31, 29, 0.8);

}
.locationcity{

width:100%;
height:5vh;
border: 2px solid black;
margin: 0;
}
.locationdistrict{

width:100%;
height:5vh;
border: 2px solid black;
margin: 0;
}
.select{

display: flex ;
flex-direction: column;
justify-content: center;
align-items: center;

gap:10px;

}
.submit{

width:15vw;
height:4vh;
border: 2px solid black;
margin: 0;
}
.not{
font-size: 20px;
margin: 0; 
text-align: center;
color: white;
}
#location{

font-size: 18px;
margin: 0; 
text-align: center;
color: white;

}
.yapimci{

font-size: 24px;
margin: 0; 
text-align: center;
color: white;


}
.github a{

font-size: 24px;
margin: 0; 
text-align: center;
color: white;


}
.pharmacy{
width: 100%;
height:50vh;
border: none;
}

@media screen and (max-width: 768px) {

.mainctrl{
background-color: black;
display: flex;
flex-direction: column;
height: 100vh;
width:100vw;
padding: 0;
box-sizing: border-box;
gap: 0px;
}
.column1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}
.column1ctrl{
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;

order: 5;

}


.column2{

display: none;
}


.column3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

gap:30px;
order: 3;

}




.column4{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

order: 2;
margin: 0px;
padding: 0;
}
.column4ctrl{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
order: 2;
margin: 0px;
padding: 0;
}



.column5{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color:black;

order: 1;
margin: 0px;
padding: 0;
}
.locationcity{

width:100vw;
height:5vh;
border: 2px solid black;
margin: 0;
padding: 0;
box-sizing: border-box;
}
.locationdistrict{

width:100vw;
height:5vh;
border: 2px solid black;
margin: 0;
padding: 0;
box-sizing: border-box;
}
.submit{

width:80vw;
margin: 0;
padding: 0;
height:4vh;
border: 2px solid black;
margin: 0;
}
.not{
font-size: 20px;
margin: 0; 
text-align: center;
color: white;
display: flex;
flex-wrap: wrap;
}


.pharmacy{
width: 100%;
height:30vh;
border: none;
padding: 0;
margin: 0;
box-sizing: border-box;
}

}






@media screen and (min-width: 1500px) and (max-width: 1700px) {


.mainctrl{

  display: grid;

  grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 2fr) minmax(150px, 1fr) minmax(150px, 1fr) ;

}




 }

 @media screen and (min-width: 1200px) and (max-width: 1500px) {


.mainctrl{

  display: grid;

  grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 2.5fr) minmax(150px, 1fr) minmax(150px, 1.3fr) ;


}

#currentTime{
font-size: 40px;
color: white;
margin:0;
padding: 30px;


}
#lastupdate{

font-size: 24px;
margin: 0;
color: black;
background-color: white;

}
#gram{

font-size: 24px; 
margin: 0; 
color: black;
background-color: white;


}
#ons{

font-size: 24px;  
margin: 0;
color: black;
background-color: white;

}
#ceyrek{

font-size: 24px;  
margin: 0;
color: black;;
background-color: white;

}
#yarim{

font-size: 24px;  
margin: 0;
color: black;
background-color: white;

}
#tam{

font-size: 24px;  
margin: 0;
color: black;
background-color: white;
}
#cumhuriyet{

font-size: 24px;  
margin: 0;
color: black;
background-color: white;

}
#usdtry{

font-size: 24px;
margin: 0;
color: black;
background-color: white;

}
#usdeur{

font-size: 24px;
margin: 0;
color: black;
background-color: white;


}
.altinpricetitle  {
font-size: 35px;
margin: 0;
color: black;
background-color: white;

}



#column4title{
margin-left: 10px;
color:white;
}

.locationdistrict{
width:100%;
}
.locationcity{
width:100%;
}
.submit{
width:100%;

}
.weatherbasic{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:5px;


}
.weathergeneralcontrol{
margin-left: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:15px;

}
.weathergeneral{

display: flex;
flex-direction: column;
gap:10px;

}
 }





















 @media screen and (min-width: 800px) and (max-width: 1200px) {

.mainctrl{

display: flex;
flex-direction: column;
margin: 0;
padding: 0;
box-sizing: border-box;
gap: 0px;
background-color: black;
}
.column1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.column1ctrl{
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
margin-right: 10px;
order: 5;

}


.column2{

display: none;
}


.column3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

gap:30px;
order: 3;
}




.column4{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}
.column4ctrl{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
order: 2;

}



.column5{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color:black;
width: 100vw;
order: 1;

}
.locationcity{

width:100vw;
height:5vh;
border: 2px solid black;
margin: 0;
padding: 0;
box-sizing: border-box;
}
.locationdistrict{

width:100vw;
height:5vh;
border: 2px solid black;
margin: 0;
box-sizing: border-box;
}
.submit{

width:80vw;
height:4vh;
border: 2px solid black;
margin: 0;
}
.not{
font-size: 20px;
margin: 0; 
text-align: center;
color: white;
}


.pharmacy{
 
width: 100%;
height:30vh;
border: none;
}



 }